@{
    ViewData["Title"] = "Advogada Tamires Mayara";
}


<div class="text-center" style="margin-top:5%;">
    <img class="rounded" src="~/images/logo_tamiresmayara.jpeg" width="90" height="110" alt="Logo da advogada Tamires OAB-SP 409421" />
    <h1>Tamires Mayara | <small>OAB-SP: 409421</small></h1>
    <h3>Precisando de uma advogada ou consultoria jurídica?</h3>
    <h4>Cível - Consumidor - Família - Imobiliário</h4>

    <a href="https://api.whatsapp.com/send?phone=+5511995583717" target="_blanck"><img src="~/images/icons8-whatsapp-96.png" /></a>
    <a href="https://www.instagram.com/tamiresmayara.adv/" target="_blanck"><img src="~/images/icons8-instagram-96.png" /></a>
</div>

